<div class="card text-center">
  <div class="card-header">
    <h4>Login </h4>
  </div>
  <div class="card-body">
    <form #loginForm (ngSubmit)="login(loginForm)">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" #email="ngModel" name="email" ngModel class="form-control" id="login-email" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-8">
          <input type="password" #pwd="ngModel" name="pwd" ngModel  class="form-control" id="login-password" placeholder="Password">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-muted">

    Awsome Slot Machine, 
    <!-- if not registered -->
    First time here? SignUp :
    <a href="./signup" class="text-right btn btn-primary">Register</a>
  </div>
</div>